In [1]:
from random import randint, choices

In [2]:
import pandas as pd

# Function to generate Random Data with some Noise

In [3]:
def createData(fun, list_of_indexes):
    data ={}
    for i in list_of_indexes:
        operator = randint(0,1)
        
        noise = randint(0,99)/100
        if operator == 0:
            data[i] = fun(i) + noise      
        else:
            data[i] = fun(i) - noise
    return pd.DataFrame.from_dict(data, orient='index')

In [4]:
train = createData(lambda arg: 6 * arg, choices(range(1,20), k=10))

In [5]:
train

         0
2    12.14
9    54.03
1     6.74
6    35.67
8    47.65
18  107.28
3    17.61
10   59.88
4    24.09
17  102.50

In [6]:
train = train.sort_index()
train.reset_index(inplace=True)
train.columns = ['x','y']

In [7]:
train

    x       y
0   1    6.74
1   2   12.14
2   3   17.61
3   4   24.09
4   6   35.67
5   8   47.65
6   9   54.03
7  10   59.88
8  17  102.50
9  18  107.28

In [8]:
from sklearn import linear_model

In [9]:
model = linear_model.LinearRegression()

In [10]:
model.fit(train[['x']],train[['y']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
model.score(train[['x']],train[['y']])

0.9998598845144977

In [12]:
model.coef_

array([[5.97857414]])

In [13]:
model.intercept_

array([0.12612167])

## Prediction

In [14]:
model.predict(14)

array([[83.8261597]])

## Actual Value

In [15]:
14*6

84

# Creating a new target variable 'Z' where Z = pow(Y,2) = 36 * pow(X,2)

In [16]:
train[['z']] = train[['y']] * train[['y']]

In [17]:
train

    x       y           z
0   1    6.74     45.4276
1   2   12.14    147.3796
2   3   17.61    310.1121
3   4   24.09    580.3281
4   6   35.67   1272.3489
5   8   47.65   2270.5225
6   9   54.03   2919.2409
7  10   59.88   3585.6144
8  17  102.50  10506.2500
9  18  107.28  11508.9984

# Training a model assuming linear relationship btw 'X' and 'Z'

## Model learning Z = M * X + C

In [18]:
linear_model_z = linear_model.LinearRegression()

In [19]:
linear_model_z.fit(train[['x']],train[['z']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
linear_model_z.score(train[['x']],train[['z']])

0.9383360775326943

In [21]:
linear_model_z.coef_

array([[693.11504024]])

In [22]:
linear_model_z.intercept_

array([-2091.67506388])

# Training a model assuming linear relationship btw 'X ^ 2' and 'Z'

## Model learning Z = M * (X ^ 2) + C

In [23]:
non_linear_model = linear_model.LinearRegression()

In [24]:
non_linear_model.fit(train[['x']] * train[['x']],train[['z']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
non_linear_model.score(train[['x']] * train[['x']],train[['z']])

0.9997911733509759

In [26]:
non_linear_model.coef_

array([[35.88845674]])

In [27]:
non_linear_model.intercept_

array([-1.47115274])

# Actual Value

In [28]:
36 * 22 * 22

17424

# Prediction and Error from Linear Model

In [29]:
linear_model_z.predict(22)

array([[13156.85582142]])

In [30]:
abs(12498.39140221 - 17424)

4925.60859779

# Prediction and Error from Non Linear Model

In [31]:
non_linear_model.predict(22 * 22)

array([[17368.54190922]])

In [32]:
abs(17591.83378526 - 17424)

167.8337852600016

# Generated Datasets for Learning Regression

In [33]:
from sklearn.datasets import make_regression

In [34]:
# Generate fetures, outputs, and true coefficient of 100 samples,
features, output, coef = make_regression(n_samples = 10,
                                         # three features
                                         n_features = 1,
                                         # where only two features are useful,
                                         n_informative = 1,
                                         # a single target value per observation
                                         n_targets = 1,
                                         # 0.0 standard deviation of the guassian noise
                                         noise = 0.0,
                                         # show the true coefficient used to generated the data
                                         coef = True)

In [35]:
# View the features of the first five rows
pd.DataFrame(features, columns=['x']).head()

          x
0 -1.422170
1  0.831094
2 -1.528318
3  0.024015
4  1.209648

In [36]:
coef

array(92.52960433)

In [37]:
output

array([-131.59285745,   76.90084255, -141.41461558,    2.22205676,
        111.92821299, -129.83183789,   10.76338668,  -27.06816772,
        -26.28693687,  140.92758113])